<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="YourSurgeCardUrl" value=""/>
    <add key="YourVerCardUrl" value=""/>
    <add key="WebTestUrl" value=""/>
    <add key="YourSurgeCardUrl" value=""/>
    <add key="TestYourSurgeCardUrl" value=""/>
    <add key="YourCreditSurgeUrl" value=""/>
    <add key="LimitIncreasePage" value=""/>
    <add key="YourSurgeCardUrlReg" value=""/>
    <add key ="ExcelDataSource" value="\\DataSource\\Test SSNs 2.23 CreditVision_Vantage3 20150814.xlsx"/>
  </appSettings>
</configuration>