<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PageLoadTimeout"  value="10"/>
    <add key="ACEHomePage" value="http://192.168.66.128/AGW"/>
    <add key="OpenQASwitchWindow"  value="http://www.toolsqa.com/automation-practice-switch-windows" />
    <add key="OpenQAPracticePage"  value="http://www.toolsqa.com/automation-practice-form/"/>
    <add key="OpenQAPracticeSwitchWindow"  value="http://www.toolsqa.com/automation-practice-switch-windows" />
    <add key="ACEDatasetADministrationPage"  value="http://192.168.66.128/AGW/Administration/AdministrationDataset.aspx"/>
    <add key="FileLocation"  value="\DataSource\TestData.xlsx" />
    <add key="CredentialsWorkbook" value="Credentials"/>
    <add key="DatasetFilesLocation" value="DatasetFiles"/>
  </appSettings>
  <connectionStrings>
    <add name="ExcelDataSourceExtXLSX" connectionString=" ; Provider='Microsoft.ACE.OLEDB.12.0'; Extended Properties='Excel 12.0 Xml;HDR=YES'" />
    <add name="ExcelDataSourceExtXLX" connectionString="  ; Provider='Microsoft.Jet.OLEDB.4.0'; Extended Properties='Excel 8.0 Xml;HDR=YES'" />
  </connectionStrings>
</configuration>

